/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* Icon section */
.Iconsection-main-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 80px 60px;
  background-color: rgb(255, 255, 255);
}

.Iconsection-container{
  width: 300px;
  text-align: center;

}

.Icon-img{
  margin: 0 auto;
  height: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 0.7;
}

.Icon-img-container{
  color: #ffff;
  padding: 50px;
}

.Icon-title{
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.Icon-content{
  line-height: 180%;
  color: #808080;
}

/* Onlinecourse container */
.Onlinecourse-main-container{
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 80px 0px;
}

.onlinecourse-content{
  width: 350px;
  border: 1px solid rgba(231,226,226,.1);
  box-shadow: 0 0 15px 0 rgb(231 226 226 / 100%);
  border-radius: 4px;
}

.onlinecourse-img{
  width: 350px;
  object-fit: cover;
}

.onlinecourse-type{
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
}

.onlinecourse-text{
  padding: 10px 5px;
  border-bottom:1px solid #d3d3d3;
  margin-bottom: 20px;
}

.Onlinecourse-header{
  padding: 2px 50px;
  font-size: 22px;
  font-weight: 400;
}

.onlinecourse-rating{
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}


/* upgradevlsicontent */
.upgradevlsi-main-container, .upgrade-main-content{
  padding: 20px 60px;
}


.upgradevlsi-main-container  h1{
 text-align: center;
}

.upgradevlsi-main-container p{
  line-height: 180%;
  color: #808080;
}

.upgradevlsi-main-container .upgrade-header{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

/* upgradecontent */
.upgrade-main-content .upgrade-header{
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}

.upgrade-main-content p{
  line-height: 180%;
  color: #808080;
}


/* Footer */
.footer-main-container{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 60px;
}

.footer-container{
  width: 250px;
}

.footer-container h5{
  font-size: 15px;
  font-weight: 500;
}

.footer-container p{
  color: #808080;
}


/* Media */
.media-icon-container{
  padding: 30px 30px;
  text-align: center;
  font-size: 10px;
}

/* footer rights content */
.footer-rights-content{
  line-height: 180%;
  background-color: #d9d8d8;
  padding: 3px 5px;
  text-align: center;
}